In [1]:
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
IW = pd.read_csv('IW clusters.csv')
HDI = pd.read_csv('HDI clusters.csv')
FULL = pd.read_csv('scaled clusters.csv')
NO_IW = pd.read_csv('scaled clusters no IW.csv')

In [3]:
IW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   99 non-null     object
 1   tradition_secularism      99 non-null     float64
 2   survival_self-expression  99 non-null     float64
 3   cluster                   99 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ KB

In [4]:
IW = IW.rename(columns = {'cluster':'cluster_IW'})

In [5]:
HDI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 189 non-null    object
 1   Life expectancy at birth                189 non-null    float64
 2   Expected years of schooling             189 non-null    float64
 3   Mean years of schooling                 189 non-null    float64
 4   Gross national income (GNI) per capita  189 non-null    float64
 5   cluster                                 189 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.0+ KB

In [6]:
HDI = HDI.rename(columns = {'Country':'country', 'cluster':'cluster_HDI'})

In [7]:
FULL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   85 non-null     object
 1   tradition_secularism      85 non-null     float64
 2   survival_self-expression  85 non-null     float64
 3   unpeacefulness            85 non-null     float64
 4   eco_footprint             85 non-null     float64
 5   education                 85 non-null     float64
 6   nominal_GDP               85 non-null     float64
 7   inequality                85 non-null     float64
 8   life_expectancy           85 non-null     float64
 9   religion_christian        85 non-null     float64
 10  religion_muslim           85 non-null     float64
 11  religion_unaffiliated     85 non-null     float64
 12  religion_hinduism         85 non-null     float64
 13  religion_buddhism         85 non-null     float64
 14  religion_folk             85 non-null     float64
 15  religions_other           85 non-null     float64
 16  religion_judaism          85 non-null     float64
 17  happiness                 85 non-null     float64
 18  cluster                   85 non-null     int64
dtypes: float64(17), int64(1), object(1)
memory usage: 12.7+ KB

In [8]:
FULL = FULL.rename(columns = {'cluster':'cluster_FULL'})

In [9]:
NO_IW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   85 non-null     object
 1   tradition_secularism      85 non-null     float64
 2   survival_self-expression  85 non-null     float64
 3   unpeacefulness            85 non-null     float64
 4   eco_footprint             85 non-null     float64
 5   education                 85 non-null     float64
 6   nominal_GDP               85 non-null     float64
 7   inequality                85 non-null     float64
 8   life_expectancy           85 non-null     float64
 9   happiness                 85 non-null     float64
 10  cluster                   85 non-null     int64
dtypes: float64(9), int64(1), object(1)
memory usage: 7.4+ KB

In [10]:
NO_IW = NO_IW.rename(columns = {'cluster':'cluster_NO_IW'})

In [11]:
data_frames = [IW, HDI, FULL, NO_IW]
data = reduce(lambda left,right: pd.merge(left,right,on=['country'], how='outer'), data_frames)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 37 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   country                                 204 non-null    object
 1   tradition_secularism_x                  99 non-null     float64
 2   survival_self-expression_x              99 non-null     float64
 3   cluster_IW                              99 non-null     float64
 4   Life expectancy at birth                189 non-null    float64
 5   Expected years of schooling             189 non-null    float64
 6   Mean years of schooling                 189 non-null    float64
 7   Gross national income (GNI) per capita  189 non-null    float64
 8   cluster_HDI                             189 non-null    float64
 9   tradition_secularism_y                  85 non-null     float64
 10  survival_self-expression_y              85 non-null     float64
 11  unpeacefulness_x                        85 non-null     float64
 12  eco_footprint_x                         85 non-null     float64
 13  education_x                             85 non-null     float64
 14  nominal_GDP_x                           85 non-null     float64
 15  inequality_x                            85 non-null     float64
 16  life_expectancy_x                       85 non-null     float64
 17  religion_christian                      85 non-null     float64
 18  religion_muslim                         85 non-null     float64
 19  religion_unaffiliated                   85 non-null     float64
 20  religion_hinduism                       85 non-null     float64
 21  religion_buddhism                       85 non-null     float64
 22  religion_folk                           85 non-null     float64
 23  religions_other                         85 non-null     float64
 24  religion_judaism                        85 non-null     float64
 25  happiness_x                             85 non-null     float64
 26  cluster_FULL                            85 non-null     float64
 27  tradition_secularism                    85 non-null     float64
 28  survival_self-expression                85 non-null     float64
 29  unpeacefulness_y                        85 non-null     float64
 30  eco_footprint_y                         85 non-null     float64
 31  education_y                             85 non-null     float64
 32  nominal_GDP_y                           85 non-null     float64
 33  inequality_y                            85 non-null     float64
 34  life_expectancy_y                       85 non-null     float64
 35  happiness_y                             85 non-null     float64
 36  cluster_NO_IW                           85 non-null     float64
dtypes: float64(36), object(1)
memory usage: 60.6+ KB

In [14]:
data2=data[['country', 'cluster_IW', 'cluster_HDI', 'cluster_FULL', 'cluster_NO_IW']].copy()

In [15]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        204 non-null    object
 1   cluster_IW     99 non-null     float64
 2   cluster_HDI    189 non-null    float64
 3   cluster_FULL   85 non-null     float64
 4   cluster_NO_IW  85 non-null     float64
dtypes: float64(4), object(1)
memory usage: 9.6+ KB

In [16]:
data2.to_excel('rename clusters.xlsx')

Now that we have the exce file, we will use it there to rename the clusters with "find and replace all" in each column.